<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MQTT Chats</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .chat-bar {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
    }
  </style>
</head>
<body>
  <div class="container mt-3">
    <h1>Chats with </h1>
  </div>
  <div class="chat-bar p-5">
    <div class="container">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Ketik sesuatu">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button">Kirim</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>