<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MQTT Chats</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      padding: 0;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <h1 class="m-5">MQTT Chat App</h1>
    <div class="card">
      <div class="card-header">
        <div>Masukkan data</div>
      </div>
      <div class="card-body text-center">
        <form action="">
          <div class="form-group">
            <label for="" class="sr-only">Masukkan nama: </label>
            <input type="text" name="nama" class="form-control" placeholder="Nama">
          </div>
          <button class="btn btn-primary">Lanjutkan</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>