<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .chat-bar {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
      }
      #chat-log {
        width: 100%;
        margin-top: 40px;
        padding-bottom: 150px;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <div class="container mt-5">
      <h1>Welcome, {{ my_name }}</h1>
      <div id="chat-log"></div>
    </div>
    <div class="chat-bar p-5">
      <div class="container">
        <div class="input-group">
          <input name="msg" class="form-control" id="chat-message-input" type="text" placeholder="Ketik sesuatu" required>
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="chat-message-submit" value="Send">Kirim</button>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <input id="chat-message-input" type="text" size="100"/><br/> {% endcomment %}
    {% comment %} <input id="chat-message-submit" type="button" value="Send"/> {% endcomment %}
</body>
<script>
    var roomName = {{ room_name_json }};
    var userName = {{ your_name }};
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        // document.querySelector('#chat-log').value += (message + '\n');
        console.log(e)
        if(userName === message[1]) {
          var divMessage = 
            $(`<div style="text-align:left"><div class="bg-primary d-inline-block text-white pt-2 pb-2 pl-3 pr-5 mt-3" style="border-radius: 5px;">${message[0]}</div><div><i style="font-size: .8rem; color: grey; margin-left: 3px">${message[1]} . ${message[2]}</i></div></div><br />`)
        } else {
          var divMessage = 
            $(`<div style="text-align:right"><div class="bg-success d-inline-block text-white pt-2 pb-2 pl-5 pr-3 mt-3" style="border-radius: 5px;">${message[0]}</div><div><i style="font-size: .8rem; color: grey; margin-left: 3px">${message[1]} . ${message[2]}</i></div></div><br />`)
        }
        
        $('#chat-log').append(divMessage);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var date = new Date();
        var time = date.toUTCString(); // menambahkan tanggal pengiriman pesan masing masing client
        var author = {{your_name}};
        chatSocket.send(JSON.stringify({
            'message': [message, userName, time],
        }));
        messageInputDom.value = '';
    };
</script>
</html>