<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .chat-bar {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
      }
    </style>
</head>
<body>
    <div class="container mt-3">
      <h1>Chats group</h1>
      <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    </div>
    <div class="chat-bar p-5">
      <div class="container">
        <div class="input-group">
          <input name="msg" class="form-control" id="chat-message-input" type="text" placeholder="Ketik sesuatu" required>
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="chat-message-submit" value="Send">Kirim</button>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <input id="chat-message-input" type="text" size="100"/><br/> {% endcomment %}
    {% comment %} <input id="chat-message-submit" type="button" value="Send"/> {% endcomment %}
</body>
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
</html>